<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tao.gldemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".first.FirstActivity">

        </activity>

        <activity android:name=".solar.SolarActivity">

        </activity>

        <activity android:name=".chapter3_airhockey1.AirHockey1Activity">

        </activity>

        <activity android:name=".chapter4_airhockey2.AirHockey2Activity">

        </activity>

        <activity android:name=".chapter5_airhockey3ortho.AirHockey3Activity">

        </activity>

        <activity android:name=".chapter6_airhockey4_3D.AirHockey4Activity">

        </activity>

        <activity android:name=".chapter7_airhockey5_textured.AirHockey5Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>